/* 用於表單2 */
/* pseudo-class */

input[type="text"] {
  color: rgb(102, 0, 255);
}

input[type="text"]:hover {
  color: lightgreen;
}

input[type="email"] {
  color: rgb(255, 0, 98);
}

input[type="email"]:active {
  color: rgb(218, 144, 238);
}

input[type="number"] {
  color: rgb(25, 0, 255);
}

input[type="number"]:focus {
  color: rgb(238, 144, 150);
}
