/* 使用於表單1 */

/* element selector */
h2 {
  color: blue;
}

/* id selector 一個文件裡面只有一個標籤可以擁有 */
#first-paragraph {
  color: rgb(100, 25, 200);
}

/* class selector 可以重覆利用可用於多個標籤 且一個標籤可以有多個類別 用空白鍵分開 */
.red-text {
  color: red;
}

.large-text {
  font-size: 2em;
}
/* 盡量避免使用em 如果網站層數太多會比較難維護 */

/* element selector and class selector並用 */
p.medium-text {
  font-size: 3rem;
}
/* rem比em好 他是找到html的元素設定 而em要考慮分層的關係 */

h1 {
  background-color: blueviolet;
  width: 50vw;
  height: 20vh;
}
/* 通常也不會設定vw 而是設定％ */
