/* 連結至表單0 老師final code */
body {
  font-family: "Noto Sans TC", sans-serif;
  background-image: url("../images/rubyd1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* 
background-size: contain;
background-size: cover;
background-size: 30%;
background-size: 200px 100px;
background-repeat: no-repeat; 
https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
https://developer.mozilla.org/zh-CN/docs/Web/CSS/background
*/
